<ion-app>

    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title class="ion-text-center">
                ToDo List
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-router-outlet></ion-router-outlet>
    </ion-content>

    <ion-footer>
        <ion-toolbar>
            <ion-title class="ion-text-center">
                Ionic test app
            </ion-title>
        </ion-toolbar>
    </ion-footer>

</ion-app>
