<ion-app>

    <ion-header>
        <ion-toolbar>
            <ion-buttons *ngIf="!(isRootPage$ | async)"
                         slot="start">
                <ion-back-button defaultHref="/"></ion-back-button>
            </ion-buttons>

            <ion-list lines="none"
                      class="nav-menu">
                <ion-item>
                    <a routerLink="/home"
                       routerLinkActive="active-route"
                       [routerLinkActiveOptions]="{exact: true}">ToDo List editor</a>
                </ion-item>
                <ion-item>
                    <a routerLink="/todo-items-view"
                       routerLinkActive="active-route"
                       [routerLinkActiveOptions]="{exact: true}">ToDo List</a>
                </ion-item>
            </ion-list>

        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-router-outlet></ion-router-outlet>
    </ion-content>

    <ion-footer>
        <ion-toolbar>
            <ion-title class="ion-text-center">
                Ionic test app
            </ion-title>
        </ion-toolbar>
    </ion-footer>

</ion-app>
