:host {
  margin-top: 30%;
  margin-left: 30%;
}

.form-field {
  display: inline-flex;
  min-width: 500px;
  margin-left: 100px;
  margin-right: -40px;
  margin-bottom: 23px;
}

.btns-list {
  display: inline-flex;
  list-style: none;
  margin-bottom: 20px;
}

.btns-list li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
